.order {}

.order > .orderRow {
  background-color: transparent;
  padding-top: 5px;
  padding-bottom: 5px;
}
.order > .orderRow:nth-child(odd) {
  background-color: rgb(242,242,242);
}

.order > .notesRow {
  margin-top: -10px;  
  padding-bottom: 5px;  
  background-color: rgb(242,242,242);
}

.order > .notesRow:nth-child(odd) {
  background-color: transparent;
}
