@media print {
  .pagebreak {
    clear: both;
    page-break-after: always;
  }

  @page {
    size: 14.8cm 21cm; /* A5 size */
    margin-top: 0;
    margin-bottom: 0;    
  }

  @page :footer {
    display: none
  }

  @page :header {
    display: none
  }

  body {
    padding-top: 72px;
    padding-bottom: 72px;
  }
}
